*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --box-color: #f1f1f1;
    --bg-color: #1f1f1f;
    --border-color: #838383;
}

html, body{
    width: 100%;
    height: 100vh;

    background: linear-gradient(#e66465, #9198e5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'General Sans', sans-serif;

    gap: 3rem;
}

.box{
    width: 32vw;
    height: 58vh;

    background-color: var(--box-color);

    border-radius: 0.6rem;
    border-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.box .content{
    width: 28vw;
    height: 54vh;
    padding-top: 0.6rem;

    display: flex;
    flex-direction: column;

    gap: 0.8rem;
}

h1{
    text-align: center;
}

p{
    font-size: 16px;
}

.content .form-input{
    display: flex;
    flex-direction: row;
}

i{
    padding: 0.6rem;
    padding-inline: 0.9rem;
    
    border-style: solid;
    border-radius: 0.3rem;
    border-width: 0.1rem;

    border-color: var(--border-color);
    color: var(--bg-color);

    transition: 0.5s;
}

i:hover{
    cursor: pointer;
    background-color: #838383;
}

input{
    width: 54vh;

    border-radius: 0.2rem;
    border-style: solid;
    border-width: 0.1rem;

    border-color: var(--border-color);
    
}

input[type="number"]{
    padding-left: 0.5rem;

    font-style: 'General Sans', sans-serif;
    font-weight: 500;
}

select{
    width: 28vw;
    height: 5vh;

    background-color: #ffffff;
    border-color: var(--border-color);

    border-style: solid;
    border-radius: 0.2rem;
    border-width: 0.1rem;
    margin-bottom: 0.8rem;
}

select:hover{
    cursor: pointer;
}

select:focus{
   padding-left: 0.8rem;
}

hr{
    color: var(--border-color);
}

.button_calc{
    display: flex;
    justify-content: center;
}

.button_calc button{
    padding: 0.4rem;

    border-style: solid;
    border-color: var(--bg-color);
    border-radius: 0.3rem;

    font-weight: 600;
    color: var(--bg-color);

    transition: 0.5s;
}

.button_calc button:hover{
    background-color: #838383;
}

.button_calc button:hover{
    cursor: pointer;
}

#tip-amount{
    width: 25vw;
    height: 10vh;

    background-color: greenyellow;
    color: var(--bg-color);
    
    border-style: none;
    border-radius: 0.5rem;

    padding: 20px;
    position: fixed;
    text-align: center;

    bottom: 2rem;

    visibility: hidden;
}

#tip-amount.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein{
    from{
        bottom: 0rem;
        opacity: 0;
    }
    to{
        bottom: 2rem;
        opacity: 1;
    }
}

@keyframes fadein{
    from{
        bottom: 0rem;
        opacity: 0;
    }
    to{
        bottom: 2rem;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout{
    from{
        bottom: 2rem;
        opacity: 1;
    }
    to{
        bottom: 0rem;
        opacity: 0;
    }
}

@keyframes fadeout{
    from{
        bottom: 2rem;
        opacity: 1;
    }
    to{
        bottom: 0rem;
        opacity: 0;
    }
}